@font-face {
    font-family: 'space-mono-regular';
    src:
        url('assets/fonts/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'poppins';
    src:
        url('assets/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-display: swap;
}