//Header

.navheader {
    height: 80px;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;

    .menu-principal {
        list-style: none;
        display: flex;
        gap: 45px;

        li {
            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}

//Footer

.navfooter {
    height: 40px;
    width: 100%;
    border-top: solid black 1px;

    &__menu {
        display: flex;
        justify-content: center;

        .menu-footer {
            list-style: none;
            display: flex;
            gap: 70px;
            margin-right: 70px;

            a {
                text-decoration: none;
                color: black;
            }
        }
    }
}