
/* Styles pour la modale */

.modal-container {
    position: fixed;
    display: none;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &.open {
        display: flex;
        
    }

    &__content {
        position: fixed;
        width: 597px;
        height: 780px;
        margin: auto;
        top: 50%;
        left: 50%;
        overflow: hidden;
        border: solid black 7px;
        background-color: white;
        transform: translate(-50%, -50%);
        box-sizing: border-box;

    }

    &__header {
        margin-top: 10px;
        width: 100%;
    }
}


/* Styles pour le formulaire */

.formulaire-contact {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;

    label {
        font-family: 'poppins', sans-serif;
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 5px;
    }

    input {
        height: 40px;
        width: 263px;
        border-radius: 8px;
        border: solid #B8BBC2 1px;
        margin-top: 0px;

    }

    input[type="submit"] {
        height: 50px;
        width: 270px;
        border-radius: 2px;
        background-color: #D8D8D8;
        border: solid #D8D8D8 2px;
        display: flex;
        justify-content: center;
        align-content: center;
        margin-top: -10px;
        margin-bottom: 0px;
        font-size: 14px;
    }

    input[type="submit"]:hover {
        background-color: #cacaca;

    }

    textarea {
        height: 142px;
        width: 263px;
        border-radius: 8px;
        border: solid #B8BBC2 1px;
    }
}


/* message validation et erreur formulaire */

.wpcf7 form .wpcf7-response-output {
    margin: -1em 0.5em 1em;
    border: 2px solid red;
    font-size: 12px;
    font-family: 'poppins';
    margin-top: -25px;
    text-align: center;

}

.wpcf7-not-valid-tip {
    color: #dc3232;
    font-size: 1em;
    font-family: 'poppins';
    font-weight: normal;
    display: block;
    margin-bottom: -20px;
}