.container-photo {
    display: flex;
    flex-direction: column;
    width: 80vw;

    &__title {
        margin: -20px 0px 30px;
        text-transform: uppercase;
    }

    &__all-btn {
        width: 270px;
        height: 50px;
        border: none;
        background-color: #d8d8d8;
        margin: 0 auto;
        margin-bottom: 50px;
        cursor: pointer;
    }

    &__all-btn:hover {
        background-color: #c9c9c9;
    }

}


.container-photo-apparente {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    justify-content: space-between;
    flex-wrap: wrap;

    .img-apparente {
        display: flex;
        align-items: center;
        justify-content: center;
        width: calc(40vw - 18.5px);
        height: 39vw;
        aspect-ratio: 1/1;
        overflow: hidden;
        margin-bottom: 44px;
        object-fit: cover;

    }

    img {
        object-fit: cover;
        height: 81vh;
        width: 100%;
    }
}
