.container-principal {
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin-left: 10%;

    &__single {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-top: 40px;
        max-height: 70vh;
        height: 68vh;

        &__details-photo {
            width: 50%;
            border-bottom: solid black 1px;
            padding-bottom: 40px;

            h2 {
                font-family: 'space-mono-regular', sans-serif;
                font-weight: 400;
                font-style: italic;
                font-size: 65px;
                line-height: 60px;
                text-transform: uppercase;
                width: 420px;
                margin: 0;
            }

            p {
                font-size: 15px;
                text-transform: uppercase;
            }
        }
    }

    .img-single {
        position: relative;
        width: 50%;
        display: flex;
        justify-content: flex-end;

        &__overlay {
            position: relative;
            display: flex;
        }
    
        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            display: block;
            max-height: 70vh;
        }

        .overlay-single {
            position: absolute;
            top: 10px;
            right: 10px;
            width: 35px;
            height: 35px;
            cursor: pointer;
            display: none;
            z-index: 10;  
        }

        &:hover .overlay-single {
            display: block;
        }
    
        img.fullscreen-icon {
            width: 35px;
            height: 35px;
        }
    }

    /* Partie navigation et contact */

    .container-contact {
        border-bottom: solid black 1px;
        margin-bottom: 100px;
        display: flex;
        align-items: center;

        &__contact-btn {
            display: flex;
            align-items: center;
            margin-bottom: 30px;
            margin-top: 30px;
            font-family: 'poppins' , sans-serif;

            p {
                margin-right: 110px;
            }

            button {
                width: 270px;
                height: 50px;
                border: none;
                background-color: #d8d8d8;
                font-family: 'space-mono-regular', sans-serif;
            }

            button:hover {
                background-color: #c9c9c9;
            }
        }

        &__navigation-arrows {
            margin-left: auto;
            display: flex;
            justify-content: space-between;
            gap: 29px;
            margin-top: 75px;
            
            .arrow-block {
                position: relative;
        
                &:hover .container-miniature {
                    display: block;
                }
            }

            .container-miniature-previous {
                width: 80px;
                height: 70px;
                background-color: #d8d8d8;
                overflow: hidden;
                display: none;
                position: absolute;
                bottom: 30px;
                left: 1px;
        
                &__img-arrows {
                    max-width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        
            .container-miniature-next {
                width: 80px;
                height: 70px;
                background-color: #d8d8d8;
                overflow: hidden;
                display: none;
                position: absolute;
                bottom: 30px;
                right: 0;
        
                &__img-arrows {
                    max-width: 100%;
                    height: auto;
                    object-fit: cover;
                }
            }
        }
    }
}
